@import '/$/font/sono/latin/sono-latin.css';
@import '/$/font/roboto-mono/latin/roboto-mono-latin.css';

:root {
    --font-heading: "Roboto Mono", sans-serif;
    --font-body: "Sono", serif;
    
    &:not(:has(body[theme="dark"])) {
        color-scheme: light;
        --color-primary-main: rgb(15 23 42);
        --color-text-body: rgb(15 23 42);
        --color-text-heading: hsl(240deg 17.44% 33.73%); //rgb(51 32 92);  /* rgb(15 23 42); */
        --color-text-bold: rgb(51 32 92);     /* rgb(15 23 42); */
        --color-text-muted: hsl(265deg 22% 33%);
        --color-text-link: rgb(42 30 108);
        --color-text-code: rgb(0 0 0);
        --color-text-selection: rgb(0 0 0);
        --color-bg-body: rgb(245 245 245);   /* rgb(255 244 241); rgb(255 255 255); */
        --color-bg-accent: hsl(0deg 0% 92%);
        --color-bg-code: #eaeaea; /* rgb(254 243 199); */
        --color-bg-selection: rgb(226 232 240);
        --color-border-code: rgb(244 244 245);

        --cursor-clip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.75em' height='1.75em' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='black' stroke-opacity='0.8' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M24.7073 9.56521L9.85801 24.4145C6.34329 27.9292 6.34329 33.6277 9.85801 37.1424V37.1424C13.3727 40.6571 19.0712 40.6571 22.5859 37.1424L40.2636 19.4647C42.6067 17.1216 42.6067 13.3226 40.2636 10.9794V10.9794C37.9205 8.63628 34.1215 8.63628 31.7783 10.9794L14.1007 28.6571C12.9291 29.8287 12.9291 31.7282 14.1007 32.8997V32.8997C15.2722 34.0713 17.1717 34.0713 18.3433 32.8997L33.1925 18.0505'/%3E%3C/svg%3E"), copy;
    }
    &:has(body[theme="dark"]) {
        color-scheme: dark;
        --color-primary-main: rgb(255 255 255);
        --color-text-body: rgb(229 229 229);
        --color-text-heading: rgb(255 255 255);
        --color-text-bold: rgb(255 255 255);
        --color-text-muted: rgb(212 212 212);
        --color-text-link: rgb(255 255 255);
        --color-text-code: rgb(255 255 255);
        --color-text-selection: rgb(0 0 0);
        --color-bg-accent: #191717;
        --color-bg-body: black; /* rgb(38 38 38); */
        --color-bg-code: #2a2a2a; /* #3e3e3e; rgb(234 179 8); */
        --color-bg-selection: hsl(0deg 89.89% 27.12%);
        --color-border-code: rgb(64 64 64);

        --cursor-clip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.75em' height='1.75em' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='white' stroke-opacity='0.8' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M24.7073 9.56521L9.85801 24.4145C6.34329 27.9292 6.34329 33.6277 9.85801 37.1424V37.1424C13.3727 40.6571 19.0712 40.6571 22.5859 37.1424L40.2636 19.4647C42.6067 17.1216 42.6067 13.3226 40.2636 10.9794V10.9794C37.9205 8.63628 34.1215 8.63628 31.7783 10.9794L14.1007 28.6571C12.9291 29.8287 12.9291 31.7282 14.1007 32.8997V32.8997C15.2722 34.0713 17.1717 34.0713 18.3433 32.8997L33.1925 18.0505'/%3E%3C/svg%3E"), copy;
    }
}

a {
    color: var(--color-text-link);
}

article h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-heading);
}