<template rendered as="article">
   <meta
      author="yarrow lane: <em>Love</em>"
      created="April 9, 2020"
      title="Making Space for a Politics of the People"
      hero="/philosopher/making-space-for-a-politics-of-the-people/photo-by-Jaredd-Craig.avif"
   >

   <header>
      <h2>{{title}}</h2>
      <h5>Published on {{created}} by {{author}}.</h5>
   </header>

   <p>The lesson of <em>reading</em> that deconstructionism gives the reader prepares for us the archetype of a communal literary praxis of reading and writing <i>in the open</i>. This reading “in the open” will mean mapping relationships between texts and contributing our own writing within a common textual field in a virtual mediaspace. This critical practice will give us a way to get our thinking together and so has the potential of empowering everyone to leap into the deliberative work of self-government. It is the opening of political space that the Khora Project is concerned with, because having the political space for communities <em>to come    together</em> and to learn together and to express themselves together yet <em>in their differences</em> and dissensus, this is the promise of democracy: for all this expressive liberty of the people to really have a say and enter into and engage with the political process in a meaningful and effective way.</p>

   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>

   <p>The Khora Project is an initiative that was discovered more or less, growing vivaciously, daringly out of deconstructionist thought, demanding to be transplanted into the sphere of political activity. Deconstructionism aspires, Derrida tells us, “to something more consequential, to <em>change</em> things and to intervene [ . . . ] in what one calls the <em>cité</em>, the <em>polis</em>, and more generally the world.” ¹ The Khora Project shares this sense of urgency for an intervention of critical and creative thought in the political process and seeks to make a way for all manner of human insight to enter into “politics”, which is basically “the <em>place</em> in which, by which it should be possible <em>to decide</em> something.” ² This possibility of engaging in political decision-making means first of all having access to a political place and formally entering oneself there into the polis, having the power to do so. And this possibility of voicing oneself in politics and engaging there means this “place” for the people must be mutable and ready to receive that voice and every voice into its process.</p>

   <p>The ethos of this fictional place that is yet to come is characterized by its liquidity of <em>conversational</em>affiliation, which flows here and there, which loves the ongoing play of interactive diversity, mutual exploration, and learning together, which teaches the practice of taking by turns the alternation of listening and of speaking, which honors communication, reciprocity, and creativity, which desires the hearty conspiracy of all and everyone to be free to exchange ideas and feelings in the open in the spirit of friendship and in the name of democracy.</p>

   <p>We must prepare such a place for a politics to come that is of the people, a politics of <em>coming together in our differences</em> — this politics which has until now been denied, relegated to journals and to the streets! But now we must make for ourselves a political home that belongs to the people, another political place where all people are welcome, a common place where we can orient and interpret our political performances and recycle what was sounded in the street and at the podium and in the classroom, to compost what was composed and expressed back into a deliberative praxis of reading, deconstructing, decomposing, interpreting, carefully digesting and drawing nutrition from those readings so <em>to produce formidable meanings</em>. We do not suggest that we abandon traditional democratic practices such as protest or writing in the traditional sense or anything people have ever done before to express themselves. The Khora Project promotes the invention of a new sphere of political and cultural techne that opens a common, interpretive context for all we have said and meant.³ In the spirit of creativity that is natural to democracy, we envision an evolutionary development in our democratic technique and cultural practice that uplifts our many voices for a more <em>intelligent</em> and <em>beautiful</em> politics <em>of the people</em>. Opening this political space for the people is necessary. We must self-authorize, establish, collectively own, and practice in this deliberative commons where we stage an ongoing praxis of democratic expression, conversation, interpretation, and co-authorship.</p>

   <p>Preparing to open such public space in “the commons” for our democratic praxis is essential to this vision of a politics of the people. This is why we call our project by the name “khora”, which literally means a “place” or “receptacle”, that space that opens to receive any forms of expression, any genre. <em>The Khora</em> is a myth as much as an applicable possibility. The khora is like paper, that neutral receptivity that opens to receive any and all inscriptions on itself; it is the universal pre-text, the “imprint-bearer” that gives place to all authorship, all expression without discrimination or preconception.⁴ We must create such a place first of all and come together there so that we may write and think and learn and decide for ourselves what we understand about our world and what we will for its co-creation.</p>

   <p>1: Jacques Derrida, “Force of Law: The ‘Mystical Foundation of Authority,’” <em>Deconstruction and the Possibility of Justice</em>, eds. Drucilla Cornell, Machael Rosenfeld, and David Gray Carloson (New York: Routledge, 1992): 8–9.</p>

   <p>2: Jean-Luc Nancy in interview: <u>The Techno-Economical Machinery</u> (2016).</p>

   <p>3: The “context” that we propose will be expressed clearly later in the work. In brief, this context where we can collect and orient our media and our democratic “voices”, <em>the khora</em> is an intertextual relational mediaspace and an application, a way of exploring that space by collaborative interpretation and contextualization — this is the praxis of reading and writing in the open, in the khora, a practice of navigating and mapping intertextual relationships. The khora is the place to come for writing critically over and between other texts. That bringing together of texts and knowing subjects is what makes this space <em>conversational</em> and inspires the thought of “literary holarchy”.</p>

   <p>4: Jacques Derrida, “Khôra,” in <em>On the Name</em>; trans. Thomas Dutoit, (1995): 93–95.</p>
</template>