@import '/$/font/sono/latin/sono-latin.css';
@import '/$/font/roboto-mono/latin/roboto-mono-latin.css';

:root {
    --font-heading: "Roboto Mono", sans-serif;
    --font-body: "Sono", serif;
    
    &:not(:has(body[theme="dark"])) {
        color-scheme: light;
        --color-primary-main: rgb(15 23 42);
        --color-text-body: rgb(15 23 42);
        --color-h1: #b56ba4;
        --color-h2: #b56ba4;
        --color-text-heading: rgb(51 32 92);  /* rgb(15 23 42); */
        --color-text-bold: rgb(51 32 92);     /* rgb(15 23 42); */
        --color-text-muted: hsl(0deg 0% 91.76%);
        --color-text-link: rgb(51 154 240);
        --color-text-code: rgb(0 0 0);
        --color-text-selection: rgb(0 0 0);
        --color-bg-body: rgb(251 251 251);   /* rgb(255 244 241); rgb(255 255 255); */
        --color-bg-code: #eaeaea; /* rgb(254 243 199); */
        --color-bg-selection: rgb(226 232 240);
        --color-border-code: rgb(244 244 245);
    }
    &:has(body[theme="dark"]) {
        color-scheme: dark;
        --color-primary-main: rgb(255 255 255);
        --color-text-body: rgb(229 229 229);
        --color-h1: #b56ba4;
        --color-h2: #b56ba4;
        --color-text-heading: rgb(255 255 255);
        --color-text-bold: rgb(255 255 255);
        --color-text-muted: rgb(212 212 212);
        --color-text-link: rgb(51 154 240);
        --color-text-code: rgb(255 255 255);
        --color-text-selection: rgb(0 0 0);
        --color-bg-body: black; /* rgb(38 38 38); */
        --color-bg-code: #2a2a2a; /* #3e3e3e; rgb(234 179 8); */
        --color-bg-selection: hsl(0deg 89.89% 27.12%);
        --color-border-code: rgb(64 64 64);
    }
}