<template rendered as="article">
   <meta
      author="yarrow lane: <em>Love</em>"
      created="July 17, 2020"
      title="A Revolution of the Heart"
      hero="/$/image/Gabriel.jpg"
   >
   <header>
      <h2>{{title}}</h2>
      <h5>Published on {{created}} by {{author}}.</h5>
   </header>

   <p>The crisis of meaning that we have experienced acutely and in an accelerated way since World War II has revealed itself in both the spiritual and material dimensions — we are living in a world out of balance. As a result of the centralization of power into the hands of the few, we have been forced to endure rule that perpetuates virtualized value systems by media spectacle and political insincerity.</p>

   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>

   <p>Healing the personal, communal, and collective pain, the karmic dissonance of this extreme disharmony and alienation from one another will require an integral process of resolution that awakens the Heart within and a revolution of the human fellowship all around us.</p>
   
   <p>It is time to answer our prayers and to cleanse and reflect the imaginal forces of our inter-being in our manifest, shared reality.</p>

   <p>No one knows precisely what this political / spiritual revolution will look like — no one who I would highlight would ever claim to understand every detail of the shape of this revolution. However, there are countless visionaries conspiring all over this world as you read this, and everyone holds a key.</p>

   <p>The vision is born — call it what you like: Social Democracy, Creative Holarchy, Literary Communism. Whatever the flavor of your insight, know that your insight counts. Your voice matters. Please express your truth carefully, lovingly. We are all co-creators. We create as we speak.</p>
   <p>We need everyone to engage their imagination and express their truth, because it will require the global village to raise up the vision for an integral culture, to manifest its potential, to fulfill this promise.</p>

   <p>Do not dare to disgrace what I have just written with cynical dismissal without first questioning me. I am no idealist. I have plans for this planet. My vision has teeth, and I will fight tooth and nail so to inspire in you a renewed sensation of possibility and hope. So be it.</p>

</template>