@import './theme/situs.run/main.css';
//! @import './article.css'; (not working)


::view-transition-group(root) {
    animation-duration: 0.25s;
}

.hero { view-transition-name: hero; }
::view-transition-group(hero) {
    transition: position 0.25s;
}

html {
    font-size: 16px;
    font-size: 1.0625em;
    background-color: var(--color-bg-body);
}
    
body {
    min-height: 100vh;
    max-width: 48rem;
    margin: auto;
    overflow-x: hidden;
  
    padding: 1.2rem 2rem;
    font-family: var(--font-body);
    color: var(--color-text-body);

    main {
        margin: auto inherit;
        min-height: 73vh;
        height: auto;

        /* grid-area: main; */
        /* max-width: 48rem; */
    
        @media (min-width:640px) { 
            padding-left: 2rem; padding-right: 2rem; 
        }

        & nav.route {
            margin: 0.25em 0;
            color: var(--color-text-muted);
        }

    }
}

.hover-bold:hover {
    font-weight: 600;
}

[revealed] {
    opacity: 1;
    transition: opacity 0.5s ease;
    &[revealed="false"] {
        opacity: 0;
    }
}

article header {
    & h1  {
        text-align: center;
    }
    & h1, h2, h3 {
        margin-block-end: 0.125em;
    }
    & h4, h5, h6 {
        margin-block-start: 0.125em;
        color: var(--color-text-muted);
    }
}