:root {
    &:not(:has(body[theme="dark"])) {
        --color-editable-block-outline: hsl(203.68deg 41.16% 85.35% / 77%);;
    }
    &:has(body[theme="dark"]) {
        --color-editable-block-outline: hsl(334.59deg 83.47% 58.73% / 48%);
    }
}

[editable] {
    & [contenteditable] {
        color: inherit;
        background-color: hsla(0deg, 100%, 97.45%, 0);
        &[contenteditable] { //? &.highlight, 
            background-color: hsla(0deg, 100%, 97.45%, 0.25);
        }
        transition: background-color 0.32s ease;
        //? transition: opacity 0.32s ease;
        outline: dashed var(--color-editable-block-outline);

        ::selection, &::selection {
            background: var(--color-editable-block-outline);
            // color: #ff0000;
        }
    }
    
    &.ctrl {
        //? #target { user-select: none; }
        
        & *:hover {
            cursor: pointer;
            outline: dashed hsl(0deg 100% 92.55%);
        }
        
        &.shift [contenteditable] {
            &.moving {
                cursor: grabbing;
            }
            &:not(.moving) {
                cursor: grab;
            }
        }
    }
}