<article contenteditable="true">
   <meta title="Yarrow.is <developer>">

   <h2>I AM a <em>developer</em>.</h2>
   <p>I love books!  I can get around a Linux operating system

      I prefer to work with Linux operating systems
      
      I started programming algorithms for mathematics classes
      
      
       so naturally I have tended toward learning about writing for the web.</p>
</article>