@font-face {
    font-family: "Roboto Mono";
    src: url('./100-normal.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./100-italic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./200-normal.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./200-italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./300-normal.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./300-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./400-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./500-normal.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./500-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./600-normal.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./600-italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./700-normal.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "Roboto Mono";
    src: url('./700-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}