<template rendered as="article">
   <meta
      author="yarrow lane: <em>Love</em>"
      created="July 27, 2020"
      title="Web3 & the Future of Democracy"
      hero="/philosopher/web3-future-of-democracy/photo-by-Randy-Colas.webp"
   >
   <header>
      <h2>{{title}}</h2>
      <h5>Published on {{created}} by {{author}}.</h5>
   </header>

   <p>The collaborative authorship of open-source software reframed the story of human creativity and intellectual property forever — shifting the paradigm toward mutual learning and shared resources. Throughout recent decades, the <em>open culture</em> movement has demonstrated an intentional reversal of the rivalrous dynamics of consumer capitalism, has held firm to the moral compass, and inspired a way forward for humanity.</p>

   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>

   <p>Setting aside the noble ideals of the open culture movement to look at the underlying architecture of network society, we see an obvious deficiency: the internet is facilitated by massive, centralized serves that belong exclusively to private interests who claim ownership of nearly everyone’s information and have the power of decision to manipulate the flow of information between people. However a new paradigm in network technologies has dared to alter this centralization of network power. Bitcoin demonstrated definitely that global systems can operate outside of the control of centralized authority. This is a revolutionary insight that has inspired a generation of technologists, activists, and cultural visionaries committing to the creation of a more open, <em>decentralized future</em>.</p>

   <p>This wave of inspired innovation is opening up a new frontier for online networks, a field of interoperable technologies at times called “Web3”. We are beginning to awaken to the significant potential of distributed systems for supporting the digital commons. Let’s take some important examples. IPFS is the <em>Inter-Planetary File System,</em> which promises a permanent web for storing files on the internet in a distributed way. Files saved on IPFS are uniquely and permanently addressed, cannot be censured, and are not at the mercy of centralized interests.² Then, there are DApps, <em>decentralized applications</em>, which operate on the web through distributed services without a central server relieving users of the necessity of signing away control and ownership of their data to corporate operators. DAOs, <em>decentralized autonomous organizations</em>, or as the contributors at Colony simply call them <em>open organizations</em> represent the future of people working together remotely toward common goals. An open organization is one where ownership and decision-power are shared between all contributors in proportion to the quality and volume of each person’s creative investment. It is a fluid form of organization where the barrier to entry is extraordinarily low requiring simply one’s desire, ability, and productivity. This model could be applicable to all kinds and scales of collaboration and hopefully one day will become a viable alternative to traditional forms of business and non-profit organization.³ Distributed technologies express a new way of thinking about networks and collaborative systems, and they are proving to be very powerful when coordinated. Though the technology will certainly have a long road of development ahead, the ideas are being implemented today on experimental platforms such as <a href='https://akasha.world/'>AKASHA</a>, <a href='https://steemit.com/'>Steemit</a>, and <a href='https://about.riot.im/'>Riot</a>.</p>
   
   <blockquote><p><em>“From inception, our intention was to deliver a technology aligned with the community at large and to encourage a meritocratic culture based on trust, openness and respect — not only for our fellow ethereans but everyone — united by raw passion for positive world change.” — Mihai Alisie</em></p></blockquote>
   
   <p>The decentralizing revolution presents itself in the concrete as a field of technologies: distributed computer systems made of software, protocols, addresses, networks, digital assets. But the revolution is essentially philosophical and cultural. No matter how the technological products develop, the paradigm has shifted. Decentralization is the liberating process of open culture creating and self-authorizing <em>a new model for society</em> which offers an alternative to conventional hierarchy. Web3 is a radical departure in conceptualizing and facilitating networks and has produced an opportunity, so the question is: What will we make of our network technologies that serves democracy and propels humanity toward a more collaborative and beautiful future? How can we alter the infrastructure of our society for the better?</p>
   
   <p>The movement driving this innovation has <strong>revolutionary potential</strong>. We have the possibility of creating a decentralized platform that supports every other significant movement that is fighting today against the status quo and engages those disparate forces in an integral political process that is open to everyone. For this revolutionary project to unfold, we must facilitate a collective process of sensemaking and apply the capabilities of blockchain technology to securely formalize and the exchange of our most valuable currency: our ideas.</p>
   
   <p><strong>The world is in crisis.</strong> The people have no control of the neoliberal machinery of capitalism. No one has control. Governments have wielded authority to multinational financial institutions. Politicians accept bribes in exchange for representation. The system is gamed so that a few select entities accumulate colossal wealth to the detriment of the vast majority of the world, and nobody has a real say in it. We are supposedly guaranteed freedom of speech but clearly not effective power. Any political actor to speak against the status quo is marginalized by all the forms of corporate-sponsored media. The legislative assemblies act to promote the interests of the elite rather than the common good. Their laws are malformed and fragmented having been developed in a proprietary fashion outside of a transparent process of critical dialog without the cooperation of the public and with incentivized, ulterior motives. <em>Humanity is gripped by an oppressive matrix of forces</em>, and no technology can save us. Only the collective resonance of our voices can save us, and only if that resonance can consolidate power.</p>
   
   <p><strong>The greatest hindrance to democracy</strong> today is two-fold: our inability as a society to inter-subjectively formulate what we believe and desire for the future by a collaborative, pedagogical process and correspondingly our failure to hold political actors accountable for representing that democratic will. There are innumerable symptoms of our broken democracy: a corrupt electorate linked to corporate influence and the corrupting nature of electoral politics, a polarized political landscape embodied in a two-party system of representation, the hyper-relativizing forms of corporate and online media, an apathetic and disengaged populace, the systematic refusal of governments to acknowledge the grievances of significant political movements, etc. These important concerns are all inextricably bound to our <em>fundamental inability to democratically formulate truth</em>. The discontent expressed in street protest performs a need for empowered discussion but cannot facilitate it. The images captured from such events are easily spun by corporate media to polarize issues and maintain a political deadlock that refuses to engage in critical dialog. For political movements to motivate progress, they require a media landscape willing to engage in meaningful discussions.</p>
   
   <p>The current conversation about social media and its perceived threat to democracy provides context and motive for us to envision future alternatives, but we cannot go so fast as to dismiss the effect of conventional, corporate-sponsored mass media. If we are ready to demonize the unaccountable, manipulative powers of social media, let us formally acknowledge what has long been the elephant in the room: the manipulative, extremely debilitative effect of the broadcast news industry on political process.</p>
   
   <p>Democracy requires a <strong>completely new media technology</strong> that is free of all possible corruption by any agent. The ability to bring together the thought processes of people everywhere is an entirely new prospect to which the internet is the means, clearly not the end. Our goal today as a world community should be to take into account the latest advances in internet technology presently evolving in the aftermath of Bitcoin and to set our minds on the creation of a media technology that overcomes epistemic violence¹ by coherently engaging our intellectual resources and the voices of real people in a process of collective sensemaking that serves as a more effective and open platform for democracy.</p>
   
   <blockquote>
      <p><em>“You never change things by fighting the existing reality. To change something, build a new model that makes the existing model obsolete.”</em></p>
      <p><em>— Buckminster Fuller</em></p>
   </blockquote>
   
   <p>Democracy requires a means of engaging and synthesizing a multitude of revisable perspectives. This is how we overcome corruption: by inviting everyone into a <em>collaborative, pedagogical process</em> of critical analysis of the conditions of our world and the major players, but there is not yet a media technology that provides an engine for synthesizing such intellectual multiplicity into coherent forms. Intellectual writing has traditionally been produced either by the individual or in very small groups and formulated at the level of the book. <strong>The printing press</strong> was a technological revolution in itself as it allowed for a relatively wide distribution of written works that stoked the slow-moving but ever accelerating process of engagement between authors which generated all of our modern ingenuity. Print books will remain utterly irreplaceable for the beauty and power in reading them, but the internet has made certain that they are not the final frontier of human intellect. It is possible that we are at <em>the brink of the next creative explosion</em> of humankind which may make HTTP look more like the printing press. The internet collapsed the geographical and temporal limitations that the printing press began to overcome yet continues to work according to that more traditional paradigm of individual authors producing isolated works.</p>
   
   <p><strong>The internet</strong> amasses a multitude of disparate voices, but it does not offer a clear path toward synthesizing those voices into coherent expression. We may agree with what we read online or not, but there is no formal mechanism to stand in intellectual solidarity with our like-minded friends or to offer constructive critique to those we disagree with. Compulsively contributed commentary is not constructive. Because the internet is <em>inherently fragmented</em>, our society is in a state of information overload. We are unable to discern the meaning of the data that has been secured behind a myriad locked doors on autonomous, “centralized” servers. Each site and every social media profile is a universe unto itself that broadcasts a story all its own, leading to an overwhelming sense of relativity and intellectual distrust. Operating on this paradigm, the most popular websites are mostly passive repositories of unprocessed, chronologically ordered content that can offer no means of reaching beyond itself toward some contextualizing reality, because there is nothing beyond this hyper-relativity. Does this not sound like some existential quandary? The expressive freedom inherent in the internet is invaluable and untouchable, but what else can we achieve beyond that individual freedom toward formalizing our collective will into a form of power that can take hold of reality to intentionally shape our future?</p>
   
   <p>Decentralizing technology offers a path forward for humanity by making possible the creation of a collective instrument for elaborating and amplifying truth, an open interface giving each person the power to contribute to a <em>coherent</em>, democratic vision of what we believe to be true and actually desire for the future. Web3 is a renewed opportunity to raise our collective voice and to take control of our governments by defragmenting the human capacities that we channel through the internet. IPFS grants us the possibility of an intertextual, <strong>semantic web</strong> like Tim Berners-Lee could only dream of, but not for the purposes of machine readability. We should be less fixated on data and artificial intelligence and more interested in meaning and the consequence of the web’s human readability on <em>collective intelligence</em>.⁴ The interface that I am envisioning will connect individuals to a deliberative framework operating on an archival substratem to inter-subjectively reveal semantic relationships between texts of all kinds. This semantic web provides a mechanism of democratically elaborating meaning, formulating constructive forms of critical analysis, protecting journalistic works from cultural amnesia, engaging our intellectual inheritance, holding political actors accountable for their integrity, and giving the testimony of common people a sociological and political weight.</p>
   
   <p>It is a vision of <strong>radical democracy</strong> that throws the doors of government open to everyone. To build such a platform could render the myriad, disjunct voices audible. Like a signal processor, it values a high signal-to-noise ratio advantaging coherent perspectives and <em>bringing resonant signals together</em> into holarchical thought-communities for them to work collaboratively to challenge, understand, and formulate their beliefs, while opposing thought-communities are brought into conversation in a way as to encourage self-criticism and mutual understanding through critical pedagogy. So many applicable ideas are out there waiting for our appropriation, deserving of our attention and discussion. Some of these ideas, like <em>liquid democracy</em> for instance, have been dormant for a long time, and many more have been generated recently out of the cryptosphere. Our goal should be to set our sights on the ideal and to begin working collaboratively as a society to advocate for this revolutionizing opportunity especially within the communities of independent journalists, free-thinking intellectuals, and political activists. As I mentioned, this platform has the potential of supporting every other political movement, so let’s get them informed and involved. Let’s build an alliance of minds.</p>
   
   <p><strong>The platform that we must create</strong> to support healthy democratic processes should be not-for-profit and belong solely to the people. It is not to be intermixed with entertainment forms and should have the distinct function of serving the pursuit of knowledge. It must be a contextual framework that orients the existing intellectual work of organizations and individuals from all time engaging both our current thought and our intellectual inheritance. The technology must offer the flexibility to reproduce its infrastructure anew to serve distinct polities (e.g., distinct nations) while allowing the possibility of shared resources and cross-pollination. The platform should also reflect the real-life, holarchical structure of nested polities (e.g., organization, city, county, state, nation). Such a platform requires an open identity management system that ensures authenticity while allowing for anonymity in order to protect individuals from foul play by corrupt agencies. The platform that we must create will serve the political and intellectual intentions of everyone: independent thinkers from all walks of life, journalists, communities, organizations, social movements, institutions, corporations, however it must turn conventional affiliation inside-out by reversing the primacy of identity and thought. In other words, the platform must place the representation of ideas before that of personalities and groups, while still allowing for holarchical interoperability.</p>
   
   <p>Photo by <a href='https://unsplash.com/@randycolasbe?utm_source=medium&amp;utm_medium=referral'>Randy Colas</a> on <a href='https://unsplash.com/?utm_source=medium&amp;utm_medium=referral'>Unsplash</a></p>
   
   <p>1: <em>“Epistemic violence is the active or passive inhibition of knowledge</em> [ . . . ] <em>that could be used for international cooperation and sustainable peace building.”</em> Luc Reychler. “<a href='http://lucreychler.com/wordpress/category/intellectualsolidarity/︎'>Intellectual solidarity, peace and psychological walls</a>” (2010).</p>
   
   <p>2: Benet, Juan. “<a target="_blank" href='https://www.youtube.com/watch?v=HUVmypx9HGI'>IPFS and the Permanent Web</a>” (2015).</p>
   
   <p>3: Colony: A platform for open organizations. <a href='https://colony.io/' target='_blank'>https://colony.io/</a></p>
   
   <p>4: <a href='https://www.bureauofai.com/principles-of-applied-imagination' target='_blank'>https://www.bureauofai.com/principles-of-applied-imagination</a></p>

</template>