<template rendered as="article">
   <meta author="yarrow">
   <meta date="">
   <meta title="">
   <meta hero="/philosopher//">
   
   <h2>{{title}}</h2>



   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>



</template>