<head>
	<title>yarrow.is</title>
	<meta creator="Justin Lane: Yarbrough" />
	<meta license="Fair Use" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<base href="/">
	<link rel="icon" type="image/svg+xml" href="/$/icon/banner-of-peace.svg"/>
	<link rel="preload" href="/$/font/sono/latin/sono-latin.css" as="style" />
	<link rel="preload" href="/$/style/base.css" as="style"/>
	<link rel="stylesheet" href="/$/style/base.css"/>
	<script type="importmap">{
		"imports": {
			"lit": "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js",
			"stache": "https://unpkg.com/micromustache@8.0.3/dist/micromustache.min.mjs"
		}	
	}</script>
	<script type="module" src="/$/script/entry.mjs"></script>
</head>