<dynamic-icon id="light-switch" src="/$/icon/lightbulb-bolt-bold-solar.svg">
    <meta name="description" content="Switches between light and dark modes.">

<style scoped>
#light-switch {
    height: 1.75em;

    transition: filter 0.1s ease-out;
    &:hover {
        cursor: pointer;
    }
}
body[theme="dark"] #light-switch:hover {
    filter: drop-shadow(0 0 0.1rem var(--color-text-heading));
}
</style>

<script>
(() => {
    const $ = document.getElementById('light-switch'); if (!$) return;

    const src = {
        dark: '/$/icon/lightbulb-bolt-linear-solar.svg',  
        light:'/$/icon/lightbulb-bolt-bold-solar.svg'
    }

    const setMode = (mode) => {
        console.log('setMode:', document.body)
        $.setAttribute('switch', mode)
        $.setAttribute('src', src[mode === 'dark' ? 'light' : 'dark'])

        document.body?.setAttribute('theme', mode)
        localStorage.setItem('theme', mode)
    }

    const switchMode = () =>
        setMode(($.getAttribute('switch') === 'dark') ? 'light' : 'dark')

    setMode(localStorage.getItem('theme') || 'light')
    $.addEventListener('click', (e) => {
        console.log('clicked!', this)
        startViewTransition(switchMode)
    })
})()
</script>
</dynamic-icon>