<template rendered as="article">
   <meta
      author="yarrow"
      created="July 13, 2018"
      title="Manifesto for Collective Intellience"
      hero="/philosopher/manifesto-for-collective-intelligence/photo-by-Jeremy-Bishop.avif"
   >
   <header>
      <h2>{{title}}</h2>
      <h5>Published on {{created}} by {{author}}.</h5>
   </header>

   <p>Our project seeks the creation of a semantic network that belongs to all people and generates <strong>collective intelligence</strong>. We want a way of engaging everyone directly in the political process by inviting everyone to contribute their voice to a special kind of cultural process that reveals the complex makeup of collective understanding and will. The interactive space that we envision for this process will engage and integrate all avenues of political expression by generating communities of thought. Within and between these <em>liquid</em> communities of the like-minded, space is made for mutual learning that is critical and also generative. We are interested in the human readability of knowledge and how we work together to illuminate meaningful relationships between different points of view. Our founding principle is that humanity must provide itself a way of coherently communicating and integrating the relationships between all branches of knowledge and our subjective expression in order to represent ourselves collectively by our own authority and that this requires the evocation of our intellectual inheritance and an open invitation to all people to take responsibility for their beliefs by engaging in a pedagogically challenging process with political ramifications. We want people to be able to work together to map the relationships between creative works, between ‘texts’, which are the primary nodes in our network, the documents that anchor a position. This project aims to build an integral media platform owned and operated by the people and for the people. This project is about staging a democratic process of engaging and situating human perspectives within <em>navigable semantic space</em>.</p>

   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>

   <p>It is our position that humanity has the intellectual and creative resources that it needs to generate a form of <strong>self-governance</strong> that would be far superior to the representative government that we endure today. By examining the fundamental problems with our current form of representative democracy and with the infrastructure of our media which is responsible for transmitting political voice, we will detect what in democracy is broken and provide a view of how it can be revolutionized to advantage living systems.</p>
   
   <p>To be sure, this next step in the evolution of human thought has never before been possible, because we have never had the opportunity as a civilization to so <em>radically integrate</em> subjective differences nor the opportunity as individuals, all of us together to speak openly in <strong>a common room</strong> where the meaning of all human stories bleeds together, a room in which we produce common resonances with the power to carry our intentions forward. In this room we all become the co-authors of our civilization’s story, and we record our intentions there in the open. That is what democracy looks like.</p>
   
   <p>We will soon explore the recent advances in technology that have produced this exciting possibility of collective intelligence. The decentralizing revolution of technology and culture has provided the context within which to have this conversations, that makes it relevant, practical, timely — surely many minds are today sharing very similar ideas about these looming possibilities, or soon they will be. We fully dedicate this writing to the common pursuit and to all people working together to move our civilization toward many interdependent aspects of the solution to the fundamental challenges that have produced the ‘wicked problems’ that humanity is facing today.</p>
   
   <p>What is crucial to consider is the way that people design systems and how they have attempted to apply systems thinking to understanding and structuring societies. <strong>Systems thinking</strong> applies to machines, operations, procedures, not to human beings. Systems thinking imports the character of logic, the conquering spirit of rationality, the advance of artificiality. When applied to human lives, it is a kind of machination that attempts but fails to respond to the complexity of human beings in society. We operate on the principle that society — as a <em>living system</em> — is not reducible to mechanical systems thinking, and we advocate for an alternative that recognizes that living complexity is a process of intersubjective relationships and communication, an alternative that makes room for expressing reverence for living systems over and beyond all artificial systems.</p>
   
   <p>We seek political means, not ends. We do not advocate specifically for this or that agenda except to stand up for life and against all powers that would seek to dominate the expression of life, to drown out honest voices, or to outright deny individuals their liberty of self-representation, which is the essence of democracy. Humans <em>grant themselves</em> the authority to speak and have the liberty to do so with as much peaceful power as they can channel — the khôra must support this liberty to all ends. We work only toward the envisioning and development of what is necessary for a kind of political spaciousness that makes way for all people simultaneously to engage in <strong>non-violent communication</strong> that performs political action. The technology that we would like to develop provides a platform for telling the truth. That is what we are interested in most of all. It may be that the media form is applicable outside of the political and intellectual sphere, but what is most pressing in our eyes is how to empower truth by allowing people to speak directly, politically for themselves. It is our opinion that all forms of political expression deserve a meaningful role in the political process. It is unsatisfactory for such important media forms as documentary to be denied access to the political arena. We intend to show that the qualification of a work’s significance is in its relatedness within a textual field, not the form it is produced in.</p>
   
   <p>The Khôra Project.</p>
</template>