<template rendered as="article">
   <meta
      author="yarrow lane: <em>Love</em>"
      created="March 29, 2020"
      title="A Prayer to Evoke the Creative Spirit"
      hero="/philosopher/prayer-to-evoke-creative-spirit/photo-by-Johannes-Plenio.avif"
   >
   <header>
      <h2>{{title}}</h2>
      <h5>Published on {{created}} by {{author}}.</h5>
   </header>

   <p>As we navigate this cosmic wave of transmutation, I am planted in my sovereignty in sacred alliance with the creative spirit that moves the cosmos. From this protected, integrated, and steadfast center, I deepen into the depths of my own heart and <em>the heart of being</em> to reveal my heart’s desire. The creative spirit moves my imagination, and I birth this vision for my contribution to our reality. I sing this heart’s song across the infinite ocean of universal becoming, sounding my message in all directions, a friendly invitation to all benevolent spirits to conspire together in our imaginative love and inspiration for our most beautiful desires for humanity which we share with the divine planetary mother and with the galactic womb. With our alliance of love and inspiration, we open all pathways for the creative spirit to flow freely through every human heart, to inspire the liberation of every mind, to awaken the spiritual forces that resound in the soul, that we see expressed in our works of art and intellect and will. We creative beings are a sovereign collective, and we align our minds and pray to the divine forces of inspiration that we will manifest our creative holarchy in form on this planet Earth, empowering all inspired people, revolutionizing our cultural and democratic infrastructure, and nourishing our spiritual friendship.</p>

   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>

   <p>. . I pray that the human spirit dissolves all artificial systems. I pray for democracy <em>to come</em> that dares to engage everyone and all forms of human expression in a common, discursive, imaginative, coherent, and beautiful cultural space. I pray to inspire the mythological intuition and courage of humanity to collaboratively envision and enliven pathways of cultural expression that support and honor the creative intelligence and wisdom of all human beings and encourage everyone to contribute their unique voice to an open democratic process that holds each person accountable for their integrity while honoring all human expression. I pray that this self-authorizing democracy <em>to come</em> will transcend and deconstruct the old paradigm that is now on the alter of transmutation: the paradigm of spiritual and epistemological violence, the paradigm of political polarization, the paradigm of spectacle and consumption, the paradigm of simulation and assimilation, the paradigm ruled by the archetype of the virus, of that merely virtual existence that perpetuates itself by mutation, infiltration, and replication. That former paradigm of mimetic virality is now over. To quicken the dissolution, disintegration, and clearing of that old paradigm of viral deception, we evoke the sacred fire of transmutation to devour all harmful influences of deception that would attempt to obfuscate our paths leading to our collective liberation and mutual freedom and inspiration to express our creative intelligence and sovereign will to self-create and carefully, lovingly to co-create our world.</p>

   <p>By beginning anew from the position of a self-authorizing holarchical collective, we acknowledge the mythologizing power of civilization to imagine and create itself. This love of creativity and mutual freedom is the innate expression of our sacred heart, and it is our destiny to liberate all beings and stand forever in solidarity with our spiritual families as we all project our spiritual light throughout time. In each of our hearts, we have awakened the sacred <em>anthropos</em>, which is the human spirit that moves the <em>demos</em>. Love liberates all beings, and for this we pray by aligning our human will with our sacred heart and pronouncing our purest intentions so that our collective voice resounds in the womb of creation.</p>

   <p>We commit to this sacred work so to heal the collective mind and invite the creative spirit in us to open the spaces that nourish our most beautiful and true forms of human expression. So be it.</p>

</template>