<template rendered as="article">
   <meta
      author="yarrow"
      created="March 28, 2020"
      title="Dendritic Dissensus"
      hero="/philosopher/dendritic-dissensus/photo-by-Rowan-Heuvel.jpeg"
   >
   <header>
      <h2>{{title}}</h2>
      <h5>Published on {{created}} by {{author}}.</h5>
   </header>

   <p>The technocratic forms of governance that are supposed to represent humankind have disengaged from the collective wealth of human feeling, intelligence, and wisdom. To empower humanity, we must create a new sensemaking infrastructure that engages this wealth of knowledge.</p>

   <parallax-img
      src="{{hero}}"
      class="hero"
      height="350px">
   </parallax-img>

   <p>What do we have to work with that represents this body of knowledge? We have a vast collection of disparate media which represents a multiplicity of perspectives, but we do not yet have a very good way of orienting all this media within a common discursive space where it may work democratically to synthesize common expressions of self-representation.</p>
   
   <p>The Khora Project wishes to provision common discursive space to support every person to explore and contribute to the ever self-reflecting, multi-dimensional body of collective knowledge and expression, so that every voice is acknowledged, so that all people are empowered to contribute their unique insight into a collaborative process of critical thinking and story-telling. In the khora, we imagine that people come together based on some commonly held belief or common interest and from this place of commonality begin a discursive process that grows and develops multiple conversations along branches of self-differentiating perspective, so that the community comes to synthesize a plurality of differences and hopefully produce some common representation. This process is something like a story-telling organism, or in other parlance a self-organizing collective intelligence (SOCI) that can integrate many different ways of seeing.</p>
   
   <p>This is a different order of political identification than what politics has traditionally been capable of offering. National parties for instance are essentially mimetic. Like a meme (and like a virus) they spread by replication, by making more of the same. They prescribe narratives that are reproduced incessantly so to dominate discursive space and assimilate perspectives so to encourage general consensus, and suppress differentiation. This modus operandi of traditional of political identity is hegemonic, anti-democratic (and at worst fascistic) in its assimilation of human intelligence in terms of party representation.</p>
   
   <p>The result is that the vast majority of voices are muted — real people are denied access to power. The inner workings of supposedly democratic governments go on with very selective regard for the intellectual wealth of its people.</p>
   
   <p>By leveraging the distributed wealth of human intelligence to contextualize all media within a larger story-telling framework, we integrate our many voices and modes of expression and so generate a more egalitarian media infrastructure that deconstructs the mass media spectacle and the political spectacle which it houses and makes space for radical, holarchical democracy.</p>
   
   <p>This is the distributed, people-powered effort we want to see that weaves all human stories into a common fabric, that contextualizes all media into a common media landscape wherein we deconstruct the prevailing myths that have spelled and commanded our society. We think it is time for humanity to honor its responsibility for creating itself, for mythologizing itself by its becoming collectively self-conscious of its myth-making faculty and claiming that creative power.</p>
   
   <p>The love of mutual freedom to express and create oneself is the spiritual essence of democracy, and this is what we seek to honor by imagining a new theater for “the political” that opens space for humanity to evolve its creative process.</p>

</template>