<article contenteditable="true">
   <meta title="Yarrow.is <creator>">
   <h2 id="who">Who in the world is Yarrow?</h2>
   <p><strong>Hello, world!</strong> My name is "Yarrow" (Justin Lane: <em>Yarbrough</em>).</p>
   <p>I AM created by God, the Author of the universe! and endowed by my Creator with the creative Spirit, <em>thus</em> I too am a <u>creator</u>.</p>
   <p>I <span class="hover-underline-animation">accept the trust</span> established by Creator and will the expression of my whole self (Will, Love, Intelligence) in service to humanity under God.</p>

   <h2 id="philanthropist">I AM a <em>philanthropist</em>.</h2>
   <img src="/$/image/madonna-oriflamma.jpg" alt="'Madonna Oriflamma' was created in 1932 by Nicholas Roerich in Symbolism style." style="float: right; margin-left: 1em; max-width:38%;" width="736" height="auto">
   <p>My prayer is for the peoples of the world to remember that we are the authors and creators of the destiny of our own lives and communities. I pray for us to recover our creativity by opening to Spirit, for us to direct our co-creative powers into growing "ecosystems of trust", i.e. bio-regional communities that work together and network for the common good.</p>
   <p>I believe that in order to support organic networks from the grassroots (not beholden to public shareholders) purely commercial frameworks are inappropriate and that we must learn to steward community wealth in trust by the common law right of private contract, the foundation of modern law.</p>
   <p>I have become a student of law, business, finance, and technology in order to develop my own appreciation of this gnosis, which is my life's work and an ongoing process of discovery, development, and application!</p>

   <h2 id="philosopher">I AM a <a href="/philosopher"><em class="hover-underline-animation">philosopher</em></a>.</h2>
   <p>I am enamored with the power of <u>the written word</u> and with media-making in general, because I believe that the world is in deed powered by the ways in which we articulate meaning.</p>

   <p>I care about advancing civilizational <em>techne</em>, which is the relationship of culture to technology, essentially the <em>literacy</em> of how we wield and direct technology to make decisions that fulfill our intentions, including by "technology" all mediums of writing, because even the printing press was once a <em>bleeding-edge</em> <u>technology</u>, however technology could not <em>move mountains</em> if it were not for the intentions of people.</p>

   <p>I believe that we may learn to take cooperative responsibility for stewarding community wealth by reading and writing in the open, by making decisions and working together for the common good, by building <u>ecosystems of trust</u> from the grassroots, because knowledge is power.</p>

   <h2 id="developer">I AM a <a href="/developer"><em class="hover-underline-animation">developer</em></a>.</h2>
   <p>I love writing and programming for the web.</p>
   
   <p>In my experience, technical complication tends to get in the way of simply <em>writing</em> for the web, so it is my goal to develop lightweight tools for web authorship that aim to be highly accessible and aesthetically pleasing for the common author.</p>

   <section style="margin-top: 2em;"><p style="text-align: center;">Thanks for viewing my Personal Home Page!</p></section>
</article>